<div id="container-small-card">
    <div>
        <img class="img-small-card" src="{{photoCover}}" 
        alt="{{photoDescription}}">
    </div>

    <div class="aside-small-card">
        <div class="title-small-card">
            <h1>
                <a [routerLink]="['content', id]">{{ cardTitle }}</a>            
            </h1>
        </div>

        <div class="description-small-card">
            <p>{{ cardDescription }} <a [routerLink]="['content', id]">leia mais</a></p>
        </div>
    </div>


</div>
